# Titanic Challenge

## Competition Description
The sinking of the RMS Titanic is one of the most infamous shipwrecks in history.  On April 15, 1912, during her maiden voyage, the Titanic sank after colliding with an iceberg, killing 1502 out of 2224 passengers and crew. This sensational tragedy shocked the international community and led to better safety regulations for ships.

One of the reasons that the shipwreck led to such loss of life was that there were not enough lifeboats for the passengers and crew. Although there was some element of luck involved in surviving the sinking, some groups of people were more likely to survive than others, such as women, children, and the upper-class.

In this challenge, we ask you to complete the analysis of what sorts of people were likely to survive. In particular, we ask you to apply the tools of machine learning to predict which passengers survived the tragedy.

## Background

This is my first attempt at the challenge.

In [107]:
# packages for interacting with the data
import numpy as np
import pandas as pd

# packages for data visualisation
import matplotlib.pyplot as plt
import seaborn as sns
#%matplotlib inline

In [108]:
# Get the data into pandas dataframes
training = pd.read_csv('data/train.csv')
testing = pd.read_csv('data/test.csv')

Now that I have the data, I need to begin analyzing the it.  To do this I am going to get a preview of the data using the head command.

In [109]:
training.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14,1,0,237736,30.0708,NaN,C

Thoughts after looking this information:
- PassengerId: is basically an index number that will have no impact on whether or not they survived.  Will be ignored when building model
- Survived: is the categorical feature that we are trying to test.  It is in the binary form 0=no and 1=yest
- Pclass: lists the class of the passenger.  From the information we are given,  we know that the upper clas passengers (1) were more likely to survive than the lowest class passengers(3).  This will be used when building the model
- Name: string in the form Last, Title First Middle (Another name). By itself is useless, but by taking information such as the last name and title, we can
- Sex: string listing the sex of the passenger as either male or female.  Can be changed to binary 1 and 0.   It is stated that women were more likely to survive.
- Age: gives the numerical age of the passenger. It is stated that children were more likely to survive.  
- SibSp:  gives the number of siblings and spouses aboard
- Parch: gives the number of parents and children aboard.  This could be combined with SibSp to get the total family size.
- Ticket:  gives the ticket number.  
- Fare: How much the passenger paid for the ticket.
- Cabin: Which cabin the passenger was staying.  Is missing many values.  Given that the accident happened in the middle of the night, where the passengers were staying could 
- Embarked: Port where the passenger boarded. C = Cherbourg, Q = Queenstown, S = Southampton

There is a lot of missing values.  I am going to use the info command to figure out how much of the information is missing for each column in both data sets

In [110]:
training.info()
testing.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 90.5+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 418 entries, 0 to 417
Data columns (total 11 columns):
PassengerId    418 non-null int64
Pclass         418 non-null int64
Name           418 non-null object
Sex            418 non-null object
Age            332 non-null float64
SibSp          418 non-null int64
Parch          418 non-null int64
Ticket         418 non-null object
Fare           417 non-null float64
Cabin          91 non-null object
Embarked       418 non-null object
dtypes: float64(2), int64(4), object(5)
memory usage: 39.2+ KB

From this I see that Cabin is missing too much information(~77%). I will not attempt to fill in the missing values.  There might be a way of filling in the missing information by assuming families stayed in the same cabin but I am going to stick with a simpler model for now.

Time to start cleaning up the data.  I am going to start with the simplest ones first. To make things take a little less time, I am going to combine the two data sets and loop through the commands for each one.

In [111]:
Combined_data = [training, testing]

In [132]:
# Run through each data set and clean up
for data_set in Combined_data:
    # change sex to numerical values instead of strings
    data_set['Sex'] = data_set['Sex'].apply(lambda x: 1 if x == 'male' else 0)
    
    # combine sibsp and parch to get total family size.  Add 1 for the passenger
    data_set['Family'] = data_set['SibSp'] + data_set['Parch'] + 1
    
    # Apply a number for the port that the passenger embarked. Since S is where the most passengers embarked
    # I set the missing info as S
    embarked = {'S':1, 'Q':2, 'C':3}
    data_set['Embarked'] = data_set['Embarked'].apply(lambda x: embarked[x] if type(x)==str else 1)
    
    med_fare = comb['Fare'].median()
    data_set['Fare'] = data_set['Fare'].fillna(med_fare)

In [133]:
# Mapping Age
comb = pd.concat(Combined_data)
med_age = comb['Age'].median()
print(med_age)
for data_set in Combined_data:
    data_set['Age'] = data_set['Age'].fillna(med_age)
    for i in range(1, 6):
        data_set.loc[(16*(i-1) <= data_set['Age']) & (data_set['Age'] <= 16*i), 'Age'] = i

2.0

In [134]:
# Remove unnecessary mo
training.drop(['SibSp', 'Parch', 'Ticket', 'Cabin'], axis=1)

,PassengerId,Survived,Pclass,Name,Sex,Age,Fare,Embarked,Family
0,1,0,3,"Braund, Mr. Owen Harris",0,1,7.2500,1,2
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,1,71.2833,1,2
2,3,1,3,"Heikkinen, Miss. Laina",0,1,7.9250,1,1
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,1,53.1000,1,2
4,5,0,3,"Allen, Mr. William Henry",0,1,8.0500,1,1
5,6,0,3,"Moran, Mr. James",0,1,8.4583,1,1
6,7,0,1,"McCarthy, Mr. Timothy J",0,1,51.8625,1,1
7,8,0,3,"Palsson, Master. Gosta Leonard",0,1,21.0750,1,5
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",0,1,11.1333,1,3
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",0,1,30.0708,1,2
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",0,1,16.7000,1,3
11,12,1,1,"Bonnell, Miss. Elizabeth",0,1,26.5500,1,1
12,13,0,3,"Saundercock, Mr. William Henry",0,1,8.0500,1,1
13,14,0,3,"Andersson, Mr. Anders Johan",0,1,31.2750,1,7
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",0,1,7.8542,1,1
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",0,1,16.0000,1,1
16,17,0,3,"Rice, Master. Eugene",0,1,29.1250,1,6
17,18,1,2,"Williams, Mr. Charles Eugene",0,1,13.0000,1,1
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",0,1,18.0000,1,2
19,20,1,3,"Masselmani, Mrs. Fatima",0,1,7.2250,1,1
20,21,0,2,"Fynney, Mr. Joseph J",0,1,26.0000,1,1
21,22,1,2,"Beesley, Mr. Lawrence",0,1,13.0000,1,1
22,23,1,3,"McGowan, Miss. Anna ""Annie""",0,1,8.0292,1,1
23,24,1,1,"Sloper, Mr. William Thompson",0,1,35.5000,1,1
24,25,0,3,"Palsson, Miss. Torborg Danira",0,1,21.0750,1,5
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",0,1,31.3875,1,7
26,27,0,3,"Emir, Mr. Farred Chehab",0,1,7.2250,1,1
27,28,0,1,"Fortune, Mr. Charles Alexander",0,1,263.0000,1,6
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",0,1,7.8792,1,1
29,30,0,3,"Todoroff, Mr. Lalio",0,1,7.8958,1,1
...,...,...,...,...,...,...,...,...,...
861,862,0,2,"Giles, Mr. Frederick Edward",0,1,11.5000,1,2
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",0,1,25.9292,1,1
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",0,1,69.5500,1,11
864,865,0,2,"Gill, Mr. John William",0,1,13.0000,1,1
865,866,1,2,"Bystrom, Mrs. (Karolina)",0,1,13.0000,1,1
866,867,1,2,"Duran y More, Miss. Asuncion",0,1,13.8583,1,2
867,868,0,1,"Roebling, Mr. Washington Augustus II",0,1,50.4958,1,1
868,869,0,3,"van Melkebeke, Mr. Philemon",0,1,9.5000,1,1
869,870,1,3,"Johnson, Master. Harold Theodor",0,1,11.1333,1,3
870,871,0,3,"Balkic, Mr. Cerin",0,1,7.8958,1,1
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",0,1,52.5542,1,3
872,873,0,1,"Carlsson, Mr. Frans Olof",0,1,5.0000,1,1
873,874,0,3,"Vander Cruyssen, Mr. Victor",0,1,9.0000,1,1
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",0,1,24.0000,1,2
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",0,1,7.2250,1,1
876,877,0,3,"Gustafsson, Mr. Alfred Ossian",0,1,9.8458,1,1
877,878,0,3,"Petroff, Mr. Nedelio",0,1,7.8958,1,1
878,879,0,3,"Laleff, Mr. Kristo",0,1,7.8958,1,1
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",0,1,83.1583,1,2
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",0,1,26.0000,1,2
881,882,0,3,"Markun, Mr. Johann",0,1,7.8958,1,1
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",0,1,10.5167,1,1
883,884,0,2,"Banfield, Mr. Frederick James",0,1,10.5000,1,1
884,885,0,3,"Sutehall, Mr. Henry Jr",0,1,7.0500,1,1
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",0,1,29.1250,1,6
886,887,0,2,"Montvila, Rev. Juozas",0,1,13.0000,1,1
887,888,1,1,"Graham, Miss. Margaret Edith",0,1,30.0000,1,1
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",0,1,23.4500,1,4
889,890,1,1,"Behr, Mr. Karl Howell",0,1,30.0000,1,1
890,891,0,3,"Dooley, Mr. Patrick",0,1,7.7500,1,1

In [135]:
testing.head(50)

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Family
0,892,3,"Kelly, Mr. James",0,1,0,0,330911,7.8292,NaN,1,1
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",0,1,1,0,363272,7.0000,NaN,1,2
2,894,2,"Myles, Mr. Thomas Francis",0,1,0,0,240276,9.6875,NaN,1,1
3,895,3,"Wirz, Mr. Albert",0,1,0,0,315154,8.6625,NaN,1,1
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",0,1,1,1,3101298,12.2875,NaN,1,3
5,897,3,"Svensson, Mr. Johan Cervin",0,1,0,0,7538,9.2250,NaN,1,1
6,898,3,"Connolly, Miss. Kate",0,1,0,0,330972,7.6292,NaN,1,1
7,899,2,"Caldwell, Mr. Albert Francis",0,1,1,1,248738,29.0000,NaN,1,3
8,900,3,"Abrahim, Mrs. Joseph (Sophie Halaut Easu)",0,1,0,0,2657,7.2292,NaN,1,1
9,901,3,"Davies, Mr. John Samuel",0,1,2,0,A/4 48871,24.1500,NaN,1,3
10,902,3,"Ilieff, Mr. Ylio",0,1,0,0,349220,7.8958,NaN,1,1
11,903,1,"Jones, Mr. Charles Cresson",0,1,0,0,694,26.0000,NaN,1,1
12,904,1,"Snyder, Mrs. John Pillsbury (Nelle Stevenson)",0,1,1,0,21228,82.2667,B45,1,2
13,905,2,"Howard, Mr. Benjamin",0,1,1,0,24065,26.0000,NaN,1,2
14,906,1,"Chaffee, Mrs. Herbert Fuller (Carrie Constance...",0,1,1,0,W.E.P. 5734,61.1750,E31,1,2
15,907,2,"del Carlo, Mrs. Sebastiano (Argenia Genovesi)",0,1,1,0,SC/PARIS 2167,27.7208,NaN,1,2
16,908,2,"Keane, Mr. Daniel",0,1,0,0,233734,12.3500,NaN,1,1
17,909,3,"Assaf, Mr. Gerios",0,1,0,0,2692,7.2250,NaN,1,1
18,910,3,"Ilmakangas, Miss. Ida Livija",0,1,1,0,STON/O2. 3101270,7.9250,NaN,1,2
19,911,3,"Assaf Khalil, Mrs. Mariana (Miriam"")""",0,1,0,0,2696,7.2250,NaN,1,1
20,912,1,"Rothschild, Mr. Martin",0,1,1,0,PC 17603,59.4000,NaN,1,2
21,913,3,"Olsen, Master. Artur Karl",0,1,0,1,C 17368,3.1708,NaN,1,2
22,914,1,"Flegenheim, Mrs. Alfred (Antoinette)",0,1,0,0,PC 17598,31.6833,NaN,1,1
23,915,1,"Williams, Mr. Richard Norris II",0,1,0,1,PC 17597,61.3792,NaN,1,2
24,916,1,"Ryerson, Mrs. Arthur Larned (Emily Maria Borie)",0,1,1,3,PC 17608,262.3750,B57 B59 B63 B66,1,5
25,917,3,"Robins, Mr. Alexander A",0,1,1,0,A/5. 3337,14.5000,NaN,1,2
26,918,1,"Ostby, Miss. Helene Ragnhild",0,1,0,1,113509,61.9792,B36,1,2
27,919,3,"Daher, Mr. Shedid",0,1,0,0,2698,7.2250,NaN,1,1
28,920,1,"Brady, Mr. John Bertram",0,1,0,0,113054,30.5000,A21,1,1
29,921,3,"Samaan, Mr. Elias",0,1,2,0,2662,21.6792,NaN,1,3
30,922,2,"Louch, Mr. Charles Alexander",0,1,1,0,SC/AH 3085,26.0000,NaN,1,2
31,923,2,"Jefferys, Mr. Clifford Thomas",0,1,2,0,C.A. 31029,31.5000,NaN,1,3
32,924,3,"Dean, Mrs. Bertram (Eva Georgetta Light)",0,1,1,2,C.A. 2315,20.5750,NaN,1,4
33,925,3,"Johnston, Mrs. Andrew G (Elizabeth Lily"" Watson)""",0,1,1,2,W./C. 6607,23.4500,NaN,1,4
34,926,1,"Mock, Mr. Philipp Edmund",0,1,1,0,13236,57.7500,C78,1,2
35,927,3,"Katavelas, Mr. Vassilios (Catavelas Vassilios"")""",0,1,0,0,2682,7.2292,NaN,1,1
36,928,3,"Roth, Miss. Sarah A",0,1,0,0,342712,8.0500,NaN,1,1
37,929,3,"Cacic, Miss. Manda",0,1,0,0,315087,8.6625,NaN,1,1
38,930,3,"Sap, Mr. Julius",0,1,0,0,345768,9.5000,NaN,1,1
39,931,3,"Hee, Mr. Ling",0,1,0,0,1601,56.4958,NaN,1,1
40,932,3,"Karun, Mr. Franz",0,1,0,1,349256,13.4167,NaN,1,2
41,933,1,"Franklin, Mr. Thomas Parham",0,1,0,0,113778,26.5500,D34,1,1
42,934,3,"Goldsmith, Mr. Nathan",0,1,0,0,SOTON/O.Q. 3101263,7.8500,NaN,1,1
43,935,2,"Corbett, Mrs. Walter H (Irene Colvin)",0,1,0,0,237249,13.0000,NaN,1,1
44,936,1,"Kimball, Mrs. Edwin Nelson Jr (Gertrude Parsons)",0,1,1,0,11753,52.5542,D19,1,2
45,937,3,"Peltomaki, Mr. Nikolai Johannes",0,1,0,0,STON/O 2. 3101291,7.9250,NaN,1,1
46,938,1,"Chevre, Mr. Paul Romaine",0,1,0,0,PC 17594,29.7000,A9,1,1
47,939,3,"Shaughnessy, Mr. Patrick",0,1,0,0,370374,7.7500,NaN,1,1
48,940,1,"Bucknell, Mrs. William Robert (Emma Eliza Ward)",0,1,0,0,11813,76.2917,D15,1,1
49,941,3,"Coutts, Mrs. William (Winnie Minnie"" Treanor)""",0,1,0,2,C.A. 37671,15.9000,NaN,1,3

In [136]:
features = ['Pclass', 'Sex', 'Age', 'Fare', 'Embarked', 'Family']
X = training[features]
y = training['Survived']

In [137]:
from sklearn.tree import DecisionTreeRegressor

model = DecisionTreeRegressor(random_state=1)
model.fit(X, y)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
                      max_leaf_nodes=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      presort=False, random_state=1, splitter='best')

In [142]:
X = testing[features]
#y = testing['Survived']
testing['Survived'] = np.round(model.predict(X),0)

In [146]:
testing.to_csv('data/model_prediction.csv', columns=['PassengerId','Survived'], index=False)